.headerBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backBtn {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: white;
  color: #111827;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.addBtn{
    flex-shrink: 0;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: #009b67;
  color: white;
  font-size: 1.35rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.addBtn {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: #009b67;
  color: white;
  font-size: 1.35rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.pocketsGrid {
  display: grid;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

* {
  box-sizing: border-box;
}