.mainlayout{
    display: grid;
    grid-template-rows: auto 1fr;
     grid-template-areas:
        "topnav topnav"
        "content content";
    height: 100vh;
    overflow: hidden; /* stops the whole page from scrolling */
}

.contentContainer {
    grid-area: content;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    position: relative; /*use for the loading*/
}

