/* .mainlayout{
    display: grid;
    grid-template-rows: 1fr auto ;
     grid-template-areas:
        "content content"
        "bottomnav bottomnav";
    height: 100vh;
    overflow: hidden;
} */

/* .contentContainer {
    grid-area: content;
    height: 100%;
    overflow-y: auto;
    position: relative; 
} */

.mainlayout{
    display: grid;
    grid-template-rows: 1fr 70px; 
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa; 
    overflow: hidden;
}

.contentContainer {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

